<div class="page-wrapper">
    <section class="header-14-sub">
        <div class="background">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="header-14">
                        <img src="/pairs-logo.png">
                    </div>
                    {{#liquid-unless requested class="requestInvite"}}
                    	<h3>We are launching a new way to build your online professional identity and grow your career.</h3>
                    	<p>Sign up below for an invite to our private beta.</p>
                    	<div class="row">
                            <div class="subscribe-form col-sm-8 col-sm-offset-2">
                                <form>
                                    <div class="form-group has-feedback">
                                        {{input type="text" value=model.email  class="form-control input-hg" placeholder="Email Address"}}
                                        {{#if emailValidated}}
                                            <span class="form-control-feedback fui-check-circle" style="color: #de4e43;"></span>
                                        {{/if}}
                                    </div>
                                    <button {{action "requestInvite"}} class="btn btn-hg btn-primary btn-block" type="submit">Request Invite</button>
                                </form>
                            </div>
                        </div><br><br><br><br><br><br><br><br><br>
                    {{else}}
                        <h3>Thank you for your interest. We will email you when the private beta launches.</h3>
                		<div class="hero-unit">
                            <h2>Made with <span class="fui-heart" style="color: #de4e43;"></span> in New York</h2>
                        </div> 
                    {{/liquid-unless}}                 
                </div>
            </div>
        </div>
    </section>
</div>