*,
*::before,
*::after {
  box-sizing: border-box;
}

// Import icon font, I've used Entypo (http://entypo.com/)
@import url(http://weloveiconfonts.com/api/?family=entypo);

// List of icon unicode symbols from the icon font
// and background colours for the icons
$icon-list: (
    vimeo "\F306" #4dbfe3,
    twitter "\F309" #32b9e7,
    facebook "\F30C" #4b70ab,
    googleplus "\F30F" #fa5432,
    pintrest "\F312" #d63533,
    linkedin "\F318" #0087be,
    dribble "\F31B" #fc89b1,
    stumbleupon "\F31E" #f15d29,
    lastfm "\F321" #e42124,
    instagram "\F32D" #6291b2,
    dropbox "\F330" #167ab6,
    picasa "\F345" #c49aca,
    soundcloud "\F348" #fb740b,
    behance "\F34E" #33abdb,
    skype "\F339" #00AFF0,
    github "\F300" #333333,
    flickr "\F303" #333333,
    rdio "\F324" #0086CD,
    evernote "\F333" #aaca62
);

// Each loop for creating the icon CSS
@each $icon, $unicode, $icon-background in $icon-list {
  
    .icon--#{$icon} {
        &::before {
            content: $unicode;
        }
    }

    .social__icon--#{$icon} {
      background-color: $icon-background;
      
        &:hover {
          // Swap black for white to make the icons lighter on hover
          background-color: mix(black, $icon-background, 15%);
        }
      
    }

}

// Display icons next to each other
.social__item {
    display: inline-block;
    margin-right: 0.1em;
}

// Basic icon style
.icon {
  font-family: 'entypo';
  speak: none;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Extend icon to all other icons
[class^="icon--"] {
  @extend .icon;
}

// Icon background
.social__icon {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  // Remove border radius to make icons square
  border-radius:100%;
  width: 2.2em;
  height: 2.2em;
  text-align: center;
  
  // Vertical Centering
  display: flex;
  align-items: center;
  justify-content: center;
}

// Extend social__icon to all other icons
[class^="social__icon"] {
  @extend .social__icon;
}

// Add padding to icons container
.social__container {
  padding: 1em;
  font-size: 1.75em;
}

@import "ember-paper";
@import "paper-button-override";

*, *:before, *:after {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0;
  padding: 0;
  outline: none; }

.pairs-app {
  width: 100%;
  height: 100%; }

.menu-sidenav-toggle {
  font-size: 24px !important;
  margin-right: 16px;
  padding: 0; }

.pairs-logo {
  padding-left: 25px; }

.pairs-logo img {
  height: 50px; }

.pairs-logo-lg {
  padding-left: 0px; }

.pairs-logo-lg img {
  height: 80px; }

.pairs-icon {
  padding-right: 20px;
  font-size: 24px; }

.pairs-icon img {
  height: 50px; }

.register-page, .sign-in-page {
  width: 100%;
  height: 100%;
  // background-size: cover;
  // background-image: url('/img/img-1.jpg');
  // background-position: 50%;
  background: #20608b;
  text-align: center;
  padding: 6em 2em;

  .background-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    z-index: 0;
  }

  .form-content {
    position: relative;
    z-index: 1;
    padding: 3em 3em;
    display: inline-block;
    background: rgba(0,0,0,0.2);
    border-radius: 30px;
  }

  .controls {
    margin-top: 1em;

    button {
      padding: 11px 22px;
    }
  }

  img.sign-in, img.register {
    color: white;
    font-weight: bold;
    margin-left: 2em;
  }

  a.sign-in, a.register {
    color: white;
    font-weight: bold;
    margin-left: 2em;
  }

  .input {
    margin: 10px auto 8px auto;
    background: white;
    width: 24em;
    padding: 0 40px 8px 15px;
    border-radius: 9px;
    position: relative;
    text-align: left;
  }
}

md-input-group.md-default-theme {
  input, textarea {
    width: 100%;
  }

  &:not(.md-input-focused) label {
    text-shadow: none;
    color: rgba(0, 0, 0, 0.46);
  }
}

.md-2x {
  position: absolute;
  right: 11px;
  top: 17px;
}

md-icon {
  position: absolute;
  top: 23px;
  right: 6px;
}

.ic-check-circle:before {
  color: #03a9f4;
}

md-nav-container {
  .form-content {
    width: 30em;
    margin: 1em 3em;

    p.avatar {
      line-height: 2;
      margin: -0.5em 0 2em;
      margin-top: 10px;
    }

    img.face {
      margin-right: 1em;
      position: relative;
      top: 19px;
      width: 50px;
      height: 50px;
    }

    .filepicker {
      display: inline-block;
      position: relative;
    }
  }
}

.sidenav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.sidenav ul li > a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #424242;
  font-weight: 700;
  padding: 1.1em 1.6em; }

.sidenav ul li > a.nav-section__title{
  font-weight: bold;
  color: #2c97df;
  font-size: 18px;
}

.sidenav ul li a:hover {
  background-color: #92cdf5; }

.sidenav .active {
  background-color: #92cdf5; }

.nav-button {
  display: block;
  width: 48px;
  height: 48px;
  position: fixed;
  left: auto;
  right: 0px;
  top: 0;
  border: 0;
  overflow: hidden;
  font-size: 24px;
  z-index: 2;
  line-height: 48px;
  text-align: center; }

.preview-block {
  background: #f5f5f5;
  padding: 20px; }

.list-demo .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }

.pairs-nav-buttons .md-button {
  min-width: 5em;
  margin: 0.5em;
  line-height: 25px; }

.pairs-nav-buttons .md-button-right {
  float: right; }

.pairs-buttons .md-button {
  min-width: 10em;
  margin: 1em;
  line-height: 25px; }

.paper-toolbar {
  background-color: #20608b !important; }

.icon-demo md-icon {
  font-size: 24px;
  margin: 16px; }

.icon-demo .icon-tile {
  float: left;
  min-width: 200px;
  text-align: center; }

.doc-content {
  max-width: 864px;
  margin: auto; }

.list-demo {
  margin-bottom: 40px;

  .face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px;
  }

  span.them {
    border: 1px solid #ddd;
    margin: 16px;
    background: #de4e43;
    border-radius: 30px;
    // border-radius: 0.8em;
    // -moz-border-radius: 0.8em;
    // -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 48px;
    margin-right: 5px;
    text-align: center;
    font-size: 24px;
    // width: 1.6em;
    width: 48px;

  }

  span.me {
    border: 1px solid #ddd;
    margin: 16px;
    background: #2c97df;
    border-radius: 30px;
    // border-radius: 0.8em;
    // -moz-border-radius: 0.8em;
    // -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 48px;
    margin-right: 5px;
    text-align: center;
    font-size: 24px;
    // width: 1.6em;
    width: 48px;
  }
}

.input-area {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .5em;
  border-top: 2px solid #ddd;
  width: 100%;
  margin-left: 1px;
  background-color: white;
  display: table;

  .input-holder {
    width: 90%;
    display: table-cell;
    padding-right: 10px;
  }

  input {
    margin-right: 5px;
    width: 100%;
  }

  button {
    display: table-cell;
  }
}
