<div class="sign-in-page">
  <div class="pairs-logo">
    <img src="/pairs-logo.png">
  </div>
  <div class="input">
    {{paper-text label="E-mail" type="email" value=model.email}}
    {{#if emailValidated}}{{paper-icon icon="check-circle" size=1}}{{/if}}
  </div>
  <div class="input">
    {{paper-text label="Password" type="password" value=model.password}}{{#if passwordValidated}}{{paper-icon icon="check-circle" size=1}}{{/if}}
  </div>

  <div class="controls">
    {{#paper-button raised=true action="authenticate" classNames="md-primary"}}Sign In{{/paper-button}}

    {{#link-to 'register' class='register'}}Register for account{{/link-to}}
  </div>
</div>
