<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-32">
      <div class="tile">
        <img src="/assets/img/icons/building.svg" alt="Companies" class="tile-image big-illustration">
        <h4 class="tile-title">12 Companies</h4>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <div class="tile">
        <img src="/assets/img/icons/building.svg" alt="Infinity-Loop" class="tile-image">
        <h4 class="tile-title">6 Positions</h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <div class="tile">
        <img src="/assets/img/icons/mortarboard.svg" alt="Schools" class="tile-image">
        <h4 class="tile-title">3 Schools</h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <div class="tile">
        <img src="/assets/img/icons/chat.svg" alt="Chat" class="tile-image">
        <h4 class="tile-title">4 Degrees</h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <div class="tile">
        <img src="/assets/img/icons/medal.svg" alt="Awards" class="tile-image">
        <h4 class="tile-title">5 Awards</h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <div class="tile">
        <img src="/assets/img/icons/chat.svg" alt="Chat" class="tile-image">
        <h4 class="tile-title">Degrees</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-32">
      <div class="tile">
        <img src="/assets/img/icons/building.svg" alt="Companies" class="tile-image big-illustration">
        <h4 class="tile-title">12 Companies</h4>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <div class="tile">
        <img src="/assets/img/icons/loop.svg" alt="Infinity-Loop" class="tile-image">
        <h4 class="tile-title">6 Positions</h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <div class="tile">
        <img src="/assets/img/icons/mortarboard.svg" alt="Schools" class="tile-image">
        <h4 class="tile-title">3 Schools</h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <div class="tile">
        <img src="/assets/img/icons/chat.svg" alt="Chat" class="tile-image">
        <h4 class="tile-title">4 Degrees</h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <div class="tile">
        <img src="/assets/img/icons/medal.svg" alt="Awards" class="tile-image">
        <h4 class="tile-title">5 Awards</h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <div class="tile">
        <img src="/assets/img/icons/chat.svg" alt="Chat" class="tile-image">
        <h4 class="tile-title">Degrees</h4>
      </div>
    </div>
  </div>
</div>
