<div id="page-404-2" class="panda-wrapper panda-404">
	<div class="panda-content page-404">
		<img class="logo-404-2" src="/assets/img/logo-404-2.png" alt="">
		<h2 class="rs title-404">we are sorry</h2>
		<p class="rs">Angry Panda has stolen the page you are looking for,
		please try one of these instead</p>
{{!-- 		<div class="panda-bg-arrow"></div>

		<div id="responsivemenu"></div>
		<nav class="panda-menu">
			<ul id="menu" class="rs">
				<li class="current"><a href="#">home</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">services</a></li>
				<li><a href="#">events</a></li>
				<li><a href="#">blog</a></li>
			</ul>
		</nav> --}}
	</div>
</div>