{{#paper-nav-container classNames="pairs-app"}}
  {{#paper-content flex-layout="column" flex=true}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools pairs-nav-buttons">
        {{#paper-sidenav-toggle}}
        <div class="pairs-logo">
          <img src="pairs-logo.png" />
        </div>
        {{/paper-sidenav-toggle}}
        {{#link-to "chat" classNames="md-button md-default-theme" tagName="button"}}
          Back to Home
        {{/link-to}}
        {{#if userIsMe}}
          {{#link-to "profile.edit" tagName="button"}}
            Edit Profile
          {{/link-to}}
        {{/if}}
        {{#paper-button raised=true class="md-button md-default-theme" action="logout"}}
      Log Out
    {{/paper-button}}  
      </div>
    {{/paper-toolbar}}
    {{#paper-content flex-layout="column" flex=true class="form-content"}}
       Profile goes here...
    {{/paper-content}}
  {{/paper-content}}
{{/paper-nav-container}}
