{{#paper-nav-container classNames="pairs-app"}}
  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#link-to "chat" classNames="pairs-logo"}}
          <img src="pairs-logo.png" />
        {{/link-to}}
      </div>
    {{/paper-toolbar}}
    {{#paper-content}}
      <nav class="sidenav">
        <ul>
          <li><a class="nav-section__title">CONVERSATIONS</a></li>
          {{#each rooms as |room|}}
            {{conversation-room room=room me=sessionUser}}
          {{/each}}
          <li><a class="nav-section__title">PEOPLE</a></li>
          {{#each allUsersButMe as |user|}}
            <li><a {{action 'createRoom' true true user}}>{{user.fullName}}</a></li>
          {{/each}}
        </ul>
      </nav>
    {{/paper-content}}
  {{/paper-sidenav}}
  {{#paper-content flex-layout="column" flex=true}}
    {{#paper-content flex-layout="column" flex=true}}
      {{outlet}}
    {{/paper-content}}
  {{/paper-content}}
{{/paper-nav-container}}
