<div class="card-container">
    <div class="card">
        <div class="front">
		  	{{#link-to 'companies' class='tile' tagName="div"}}
			    <img src="/assets/img/icons/building.svg" alt="Companies" class="tile-image big-illustration">
			    <h4 class="tile-title">12 Companies</h4>
		    {{/link-to}}
        </div> 
        <div class="back">
		  	{{#link-to 'companies' class='tile' tagName="div"}}
			    Some Interesting Data
		    {{/link-to}}
        </div> 
    </div> 
</div>