{{#paper-toolbar}}
  <div class="md-toolbar-tools pairs-nav-buttons">
    {{#paper-sidenav-toggle}}
      <div class="pairs-icon">
        <img src="pairs-icon.png" />
      </div>         
    {{/paper-sidenav-toggle}}
  </div>
{{/paper-toolbar}} 
{{outlet}} 