{{#paper-toolbar}}
  <div class="md-toolbar-tools pairs-nav-buttons">
    {{#paper-sidenav-toggle}}
      <div class="pairs-icon">
        <img src="pairs-icon.png" />
      </div>         
    {{/paper-sidenav-toggle}}
    {{#link-to "my.profile" classNames="md-button md-default-theme" tagName="button"}}
      Profile
    {{/link-to}}
  </div>
{{/paper-toolbar}} 
{{outlet}} 