{{#paper-toolbar}}
  <div class="md-toolbar-tools pairs-nav-buttons">
    {{#paper-sidenav-toggle}}
      <div class="pairs-icon">
        <img src="pairs-icon.png" />
      </div>         
    {{/paper-sidenav-toggle}}
    {{#link-to "profile" sessionUser.id classNames="md-button md-default-theme"}}
      Profile
    {{/link-to}}
    {{#paper-button  class="md-button md-default-theme" raised=true action="logout"}}
      Log Out
    {{/paper-button}}  
</div>
{{/paper-toolbar}} 
{{outlet}} 